*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 13px;
	--color-text: #232222;
	--color-bg: #fff;
	--color-link: #232222;
	--color-link-hover: #000;
	--page-padding: 1.5rem;
    --bgclr : #212121;
}

@font-face {
	font-family: reg;
	src: url('../assets/PPMori-Regular.otf');
}

@font-face {
	font-family: bold;
	src: url('../assets/PPMori-SemiBold.otf');
}

body {
	margin: 0;
	// color: var(--color-text);
	// background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

}




/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bgclr);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 100px;
	height: 1px;
	margin: 0 0 0 -50px;
	background: var(--color-link);
	animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;

}

canvas.webgl {
    position: fixed;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  #webgl {
    width: 100%;
    height: 200vh;
  }
  canvas.webgl2 {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

@keyframes loaderAnim {
	0% {
		transform: scaleX(0);
		transform-origin: 0% 50%;
	}

	50% {
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}

	50.1% {
		transform: scaleX(1);
		transform-origin: 100% 50%;
	}

	100% {
		transform: scaleX(0);
		transform-origin: 100% 50%;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}


img,
video {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}



#nav{
    height: 10vw;
    width: 4vw;
    background-color: #ffffff44;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 2%;
    left: 1%;
    border-radius: .5vw;
    padding: .5vw;
    display: flex;
    flex-direction: column;
    z-index: 10;
    justify-content: space-between;
}

#nav-part1{
    height: 35%;
    background-color: var(--bgclr);
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        height: 2vw;
        width: fit-content;
    }
}
#nav-part2{
    height: 75%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.8vw 0;
    align-items: center;
    // gap: 2vw;
    p{
        font-family: sans-serif;
        color: #fff;
        font-size: 1vw;
        font-weight: 400;
        rotate: -90deg;
    }
    svg{
        // margin-top: 3vw;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1vw;
        width: 1vw;
        color: #fff;
    }


}
#page1{
    background-color: var(--bgclr);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}
#page1>h1{
    font-size: 5.5vw;
    font-family: bold;
    color: #fff;
    position: absolute;
    top: 55%;
    left: -2%;
    rotate: -90deg;
    transform: translate(-50%, -50%);
    font-weight: 400;
}
#page1-part1{
    height: 100%;
    width: 50%;
    // background-color: red;
    display: flex;
    align-items: center;
    padding-right: 3vw;
    justify-content: end;

}


#card{
    height: 20vw;
    width: 15vw;
    padding: 2vw;
    background-color: #5b07a4;
    border-radius: 2vw;
    filter: drop-shadow(0 0 60px #5b07a4);
    position: relative;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#card::after{
    content: "AI.";
    font-family: bold;
    font-size: 3vw;
    color: #e3e3e3;
    position: absolute;
    bottom: -18%;
    left: 50%;
    transform: translateX(-50%);
}

#eye1{
    position: absolute;
    height: 1vw;
    width: 1vw;
    top: 15%;
    left: 35%;
    background-color: #000;
    border-radius: 50%;
}
#eye2{
    position: absolute;
    height: 1vw;
    width: 1vw;
    top: 15%;
    right: 35%;
    background-color: #000;
    border-radius: 50%;
}
#page1-part2{
    height: 100%;
    width: 50%;
    // background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1vw;
}

#signin{
    display: flex;
    gap: 1vw;
}
#eng{
    padding: 1vw 2vw;
    background-color: #1b1b1b;
    font-family: bold;
    color: #e3e3e3;
    font-size: 1vw;
    border-radius: .5vw;
    i{
        margin-left: .5vw;
    }
}

#signup{
    padding: 1vw 2vw;
	font-size: 1vw;
    background-color: #5b07a4;
    font-family: bold;
    color: rgb(241, 217, 241);
    border-radius: .5vw;
}

#hero-content>p{
    color: #5b07a4;
    font-family: reg;
    font-size: 1.2vw;
    text-align: right;
    padding-bottom: 1vw;
}
#hero-content>h1{
    font-family: reg;
    color: #e3e3e3;
    font-size: 6.5vw;
    text-align: right;
    font-weight: 100;
    line-height: 5.5vw;
}



#hero-last{
    display: flex;
    justify-content: end;
}
#hero-last>p{
    color: #e3e3e396;
    font-family: reg;
    font-size: 1.2vw;
    text-align: right;
    width: 70%;
    line-height: 1.5vw;
}

#page2{
    min-height: 150vh;
    width: 100%;
    background-color: var(--bgclr);
    padding: .1px;
}

#page2>h1{
    font-size: 6vw;
    font-family: bold;
    color: #e3e3e3;
    text-align: center;
    padding-bottom: 4vw;
    padding-top: 5vw;
    filter: drop-shadow(10px 0  20px #5b07a4);
}

#card1{
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-top: 5vw;
}

.cards{
    flex-shrink: 0;
    height: 75vh;
    width: 25vw;
    background-color: #e3e3e3;
    border-radius: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    p{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-family: sans-serif;
        padding: .5vw 1.6vw;
        border: 1px solid #000;
        border-radius: 50vw;
        width: fit-content;
    }
    h1{
        font-size: 2.5vw;
        font-family: sans-serif;
        text-align: center;
        margin-top: 2vw;
    }
    h4{
        font-size: 1vw;
        font-family: sans-serif;
        text-align: center;
        margin-top: 2vw;
        font-weight: 400;
        line-height: 1.5vw;
    }
}

.cards p::before{
    content: "";
    height: .6vw;
    width: .6vw;
    background-color: #568d04;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.card-content{
    width: 100%;
    height: 35vh;
    background-color: #5b07a4;
    border-radius: 2vw;
}

.content-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	z-index: 100;
	place-content: center;
	pointer-events: none;
	mix-blend-mode: exclusion;


	.row {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3vw;
		color: rgb(255, 255, 255);


		h1 {
			font-size: 8vw;
			font-family: bold;

		}

		p {
			font-size: 1vw;
			font-family: reg;
		}
	}

}



.container {
	position: relative;
	width: 100%;
	height: 120vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: reg;
	transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	padding: 4vw 2vw;
	background-color: #0e0e0ede;
	color: #fff;


	h2 {
		font-size: 4vw;
	}

	ul {
		position: relative;
		width: 100%;
		display: flex;
		list-style: none;
		gap: 5vw;
		margin: 6vw 0;
		justify-content: center;

		li {
			a {
				color: #fff;

				.number {
					font-size: 1.3rem;
					font-family: bold;
				}

				.thumb {
					width: 25vw;
				}

				.title h2 {
					font-weight: 600;
					font-size: 1.43rem;
					text-transform: capitalize;

				}
			}

			&:nth-child(2) {
				a .thumb {
					width: 30vw;
				}
			}
		}
	}
}

